@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100vw;
    z-index: 1;
}

li{
    list-style: none;
}

#home .login{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
}

section{
    width: 100vw;
    height: 120vh;
}

#contact,#pricing,#product,#service{
    padding-top: 70px;
}

#home{
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
}

#home .login h2{
    color: #000000;
}

#service{
    background-color: #DCB40D;
}

#pricing{
    background-color: #34495e;
}

#contact{
    background: linear-gradient(to right, rgb(0, 0, 0,0.8) 40% , #DCB40D 40% ,#DCB40D 60%, rgb(0, 0, 0,0.8) 60%);
}

.main{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #4b4b4b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo{
    padding: 14px 0 0 20px;
}

.navbar ul{
    display: flex;
    padding-top: 15px;
}

.navbar ul li{
    list-style: none;
    padding-left: 40px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    transition: all .4s ease;
    text-align: center;
}

.navbar ul li a:hover{
    background-color: rgb(136, 187, 184);
    color: #ffffff;
    padding: 4px;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.search{
    padding-top: 22px;
    padding-right: 50px;
}

.search input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #fff;
    margin-right: 10px;
    font-family: 'poppins';
    font-size: 16px;
    padding-left: 9px;
    border: none;
    outline-offset: 2px;
}

.sch{
    position: absolute;
    top: 22px;
}

.whole > div{
    width: 455px;
    height: 550px;
    overflow-x: none;
}

.whole{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left , .right{
    color: #ffff;
}


.right h2{
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.right input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 30px;
    padding: 18px;
}

.right{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.form{
    position: absolute;
    left: -170px;
}

textarea{
    width: 460px;
    height: 150px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.left{
    text-align: center;
    padding-top: 90px;
}

.left .location h2{
    padding-bottom: 30px;
}

.left .location p{
    font-size: 18px;
    text-transform: capitalize;
}

.sub{
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #ffff;
    letter-spacing: 2px;
}

.follow{
    margin-top: 110px;
}

.follow i{
    margin-top: 10px;
    padding: 10px;
    font-size: 30px;
}

.follow p{
    font-size: 19px;
}

.box > div{
    width: 310px;
    height: 510px;
    border: 1px solid #ffff;
}

.box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}


.box h2{
    margin-bottom: 20px;
    padding: 20px 0;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box h1{
    font-size: 30px;
}

.box p{
    padding: 10px 0px; 
    text-transform: uppercase;
}

.box ul{
    margin-top: 30px;
    
}

.box ul li{
    padding-bottom: 15px;
    color: #808088;
    font-size: 18px;
    
    
}

.box1 .top{
    background-color: #573ABA;color: #ffff;
}

.box1 {
    background-color: #ffffff;
    
}
.box2 .middle{
    background-color: #92C705;color: #ffff;
}

.box2 {
    background-color: #ffff;
}
.box3 .bottom{
    background-color: #EC6011;
    color: #ffff;
}

.box3 {
    background-color: #ffff;
}

.box button{
    padding: 10px;
    width: 70%;
    background-color: #D4560F;
    color: #ffff;
    font-size: 18px;
    border: none;
}

.follow i{
    background-color: red;
}

#service h1, #service p{ text-align: center; }

#service h1{
    color: #000000;
    padding-bottom: 20px;
    text-decoration: underline;
    margin-top: 10px;
}

#service .soln{
    font-size: 18px;
    font-family: 'Poppins';
}

.round > div{
    width: 250px;
    height: 220px;
    border: 1px solid #ffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.round{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    column-gap: 10px;
}

.round1{
    background-color: #BF6D2A;
}
.round2{
    background-color: #3A9661;
}
.round3{
    background-color: #BEA03B;
}
.round4{
    background-color: #2E8E87;
}

.round .content{
    background-color: #ffff;
    padding: 30px;
    margin-top: 30px;
}

.round img{
    padding-top: 15px;
}

.round .content h2{
    padding-bottom: 10px;

}


.login .forms{
    width: 300px;
    height: 300px;
    border-radius: 10px solid red;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #2E8E87;
    padding: 18px;
}

.login .forms input{
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

.login .forms button{
    height: 30px;
    background-color: #D4560F;
    color: #ffffff;
    font-size: 16px;
    border: none;
    font-family: 'poppins';
    margin-top: 10px;
}

.login .forms label{
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.login h2{
    padding-top: 100px;
    font-size: 40px;
}

.product{
    display: flex;
    justify-content: center;
}

.product .img {
    width: 1000px;
    height: 500px;

    margin-left: 10%;
}
.product .details{
    width: 1200px;
    height: 500px;
}

.product .details h2 , .product .details p{
    margin-bottom: 20px;
}

.product .details .blue{
    color: #573ABA;
}

.product .details h2{
    font-size: 30px;
    padding-bottom: 10px;
}

.product .details p{
    color: #808088;
    font-size: 18px;
}

.product .details .color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.product .details .color-box{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 18px;
}

.product .details .color1{
    background-color: red;
}

.product .details .color2{
    background-color: blue;
}

.product .details .color3{
    background-color: #000000;
}

.product .details span{
    font-size: 24px;
    color: #808088;
}

.product .details button{
    width: 40%;
    height: 36px;
    border-radius: 2px;
    background-color: #3A9661;
    color: #ffff;
    padding: 2px;
    margin-left: 20px;
    border: none;
}

@media  screen and (min-width: 578px) and (max-width: 960px) {

    html{
        transition: all .3s ease;
    }

    header{
        display: static;
    }
    section{
        width: 100%;
        height: auto;
        overflow-x: none;
    }
    #home .login{
        padding-top: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .round{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 30px 100px 0 100px;
    }
    
    .round > div{
        width: 400px;
        height: 240px;
        margin-bottom: 30px;
        border: 1px solid #f3f3f3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .round .content{
        background-color: #ffff;
        padding: 10px;
        margin-top: 10px;
    }
    
    .round img{
        padding-top: 15px;
    }
    
    .round .content h2{
        padding-bottom: 10px;
    }
    
    
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .img {
    width: 450px;
    height: 430px;
    margin-left: 8%;
}
.product .details{
    width: 400px;
    height: 500px;
    margin-left: 20%;
}

.product button{
    width: 900px;
}

.product .details h2 , .product .details p{
    margin-bottom: 10px;
}


.box > div{
    width: 310px;
    height: 500px;
    border: 1px solid #ffff;
    margin-bottom: 50px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box button{
    padding: 10px;
    width: 70%;
    background-color: #D4560F;
    color: #ffff;
    font-size: 18px;
    border: none;
}

.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.whole > div{
    width: 455px;
    height: 330px;
    overflow-x: none;
}

.left , .right{
    color: #ffff;
}


.right h2{
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.right input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 30px;
    padding: 18px;
}

.right{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.form{
    position: absolute;
    left: 90px;
    bottom: 80px;
}


.right h2{
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.right input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
    padding: 18px;
}

.right{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

textarea{
    width: 300px;
    height: 150px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.sub{
    padding: 10px;
    margin-top: 20px;
    width: 90px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #ffff;
    letter-spacing: 2px;
}

.navbar ul {
    display: none;
}


.search{
    padding-top: 22px;
    padding-right: 50px;
    position: relative;
}

.search input{
    height: 30px;
    width: 50%;
    border-radius: 10px;
    border: 3px solid #fff;
    margin-right: 80px;
    font-family: 'poppins';
    font-size: 14px;
    padding-left: 9px;
    border: none;
    outline-offset: 2px;
    
}

.sch{
    position: absolute;
    left: 150px;
    top: 22px;
}

.login .forms{
    width: 300px;
    height: 300px;
    border-radius: 10px solid red;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #2E8E87;
    padding: 18px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-size: 18px;
}
#home .login{
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

}

@media  screen and (min-width: 200px) and (max-width: 550px) {

    html{
        transition: all .3s ease;
    }

    header{
        display: static;
    }
    section{
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        scroll-behavior: none;
    }
    #home .login{
        padding-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }


    .round{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 5px 100px 0 100px;
    }
    
    .round > div{
        width: 200px;
        height: 130px;
        margin-bottom: 60px;
        border: 1px solid #f3f3f3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .round img{
        width: 30px;
    }
    #service h1  {
        margin-top: -70px;
    }
    #section p{
        
        margin-top: -100px;
        }
    .round .content{
        background-color: #ffff;
        padding: 7px;
        margin-top: 5px;
    }
    .round .content h2{
        font-size: 15px;
    }
    .round img{
        padding-top: 12px;
    }
    
    .round .content h2{
        padding-bottom: 5px;
    }
    
    
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .img {
    width: 250px;
    height: 400px;
    margin-right: 300px;
}
.product .details{
    width: 300px;
    height: 300px;
    margin-left: 20%;
    margin-bottom: 20px;
}
.product .details p{
    text-overflow: none;
}

.product button{
    width: 700px;
}

.product .details h2 , .product .details p{
    margin-bottom: 10px;
}


.box > div{
    width: 210px;
    height: 550px;
    border: 1px solid #ffff;
    margin-bottom: 50px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box button{
    padding: 10px;
    width: 70%;
    background-color: #D4560F;
    color: #ffff;
    font-size: 18px;
    border: none;
}

.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.whole > div{
    width: 355px;
    height: 330px;
    overflow-x: none;
}

.left , .right{
    color: #ffff;
}


.right h2{
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

.right input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 30px;
    padding: 18px;
}

.right{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.form{
    position: absolute;
    left: 90px;
    bottom: 80px;
}


.right h2{
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.right input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 30px;
    padding: 18px;
}

.right{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

textarea{
    width: 200px;
    height: 150px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.sub{
    padding: 10px;
    margin-top: 20px;
    width: 90px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #ffff;
    letter-spacing: 2px;
}

.navbar ul {
    display: none;
}


.search{
    padding-top: 22px;
    padding-right: 50px;
    position: relative;
}

.search input{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    border: 3px solid #fff;
    margin-right: 80px;
    font-family: 'poppins';
    font-size: 14px;
    padding-left: 9px;
    border: none;
    outline-offset: 2px;
    margin-left: 20px;
    
}

.sch{
    position: absolute;
    left: 135px;
    top: 22px;
}


.login .forms{
    width: 220px;
    height: 220px;
    border-radius: 10px solid red;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #2E8E87;
    padding: 18px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-size: 18px;
}
.login h2{
    font-size: 25px;
    margin-bottom: 90px;
}
.box ul li{
    padding-bottom: 12px;
    color: #808088;
    font-size: 14px;
}

}
